<div class="admin-add-campagne-entreprise-input-container">
	<div class="admin-add-campagne-entreprise-input-item">
		<%= label_tag(:entreprise_name, "Nom de l'entreprise") %>
  		<%= text_field_tag(:entreprise_name) %>
	</div>
	<div class="admin-add-campagne-entreprise-input-item">
		<%= label_tag(:address_facturation, "Adresse de facturation") %>
  		<%= text_field_tag(:address_facturation) %>
	</div>
	<div class="admin-add-campagne-entreprise-input-item">
		<%= label_tag(:ville, "Ville") %>
  		<%= text_field_tag(:ville) %>
	</div>
	<div class="admin-add-campagne-entreprise-input-item">
		<%= label_tag(:code_postal, "code_postal") %>
  		<%= text_field_tag(:code_postal) %>
	</div>
	<div class="admin-add-campagne-entreprise-input-item">
		<%= label_tag(:pays, "Pays") %>
  		<%= text_field_tag(:pays) %>
	</div>
</div>